<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Models</title>
    <link rel="stylesheet" href="style.css">
</head>
<nav>
			<div class="right">
				<a href="/">
					<h5>AI Models</h5>
				</a>
			</div>
			<div class="left">
				<ul>
					<li><a href="/summarizer">Summarizer</a></li>
				</ul>
			</div>
		</nav>
		<div class="container">
			{{{body}}}
		</div>
	</body>
</html>